
    {{> head}}


    {{> navbar}}

   <div class="row">

       <div class="col-8">
           <h1>Green Arrow </h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, dolore dolores? Quidem at minima voluptates maiores nemo tempora quo corporis sit adipisci ad, temporibus qui ut praesentium obcaecati labore nam.</p>
       </div>
       <div class="col-4">
           <img src="assets/img/arrow.jpg" class="img-thumbnail">
       </div>

   </div>

   {{> footer}}